<div class="hero-image">
</div>

<div *ngIf="!isAuthenticated" class="container" style="margin-top: 30px">
  <div class="row">
    <div class="col-md-12">
<!--      <h1>Příhlášení</h1>-->
      <button [class.active]="loginDisplay" class="button-fancy btn" (click)="onChangeLogin()"><h3>Přihlásit se</h3></button> <button (click)="onChangeRegistration()" [class.active]="!loginDisplay" class="btn button-fancy"><h3>Registrace</h3></button>
      <hr>
      <app-login *ngIf="loginDisplay"></app-login>
      <app-registration *ngIf="!loginDisplay"></app-registration>
    </div>
  </div>
</div>

<div *ngIf="isAuthenticated" class="container" style="margin-top: 30px">
  <div class="row">
    <div class="col-md-12">
      <app-order (logOut)="onLogOut($event)" *ngIf="customerSection"></app-order>
      <app-manager (logOut)="onLogOut($event)" *ngIf="employeeSection"></app-manager>
    </div>
  </div>
</div>




