<h3>Sekce pro zaměstnance</h3>
<hr>
<div class="row">
  <div  class="col-md-12">

    <ul class="nav">
      <li class="nav-item">
        <a (click)="OnChangeTab('menu')"  class="nav-link active" style="cursor: pointer" >Denní menu</a>
      </li>
      <li class="nav-item">
        <a (click)="OnChangeTab('meal')" class="nav-link" style="cursor: pointer">Správa jídel</a>
      </li>
      <li class="nav-item">
        <a (click)="OnChangeTab('drink')" class="nav-link" style="cursor: pointer">Správa nápojů</a>
      </li>
      <li class="nav-item">
        <a (click)="OnChangeTab('orders')" class="nav-link" style="cursor: pointer">Přehled objednávek</a>
      </li>
      <li class="nav-item">
        <a (click)="OnChangeTab('reservations')" class="nav-link" style="cursor: pointer">Rezervace</a>
      </li>
<!--      <li class="nav-item">-->
<!--        <a class="nav-link disabled">Disabled</a>-->
<!--      </li>-->
    </ul>

  </div>
</div>

<div class="row">
  <div  class="col-md-12">
    <div [ngSwitch]="actualTab">
      <app-menu *ngSwitchCase="'menu'"></app-menu>
      <app-meal *ngSwitchCase="'meal'"></app-meal>
      <app-drink *ngSwitchCase="'drink'"></app-drink>
      <app-orders *ngSwitchCase="'orders'"></app-orders>
      <app-reservations *ngSwitchCase="'reservations'"></app-reservations>
    </div>



  </div>
</div>

<button (click)="onLogOut()" class="btn btn-primary">Odhlásit se</button>


