body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("https://blog.gutek.pl/wp-content/uploads/2017/07/slowko-na-dzis-pub-crawl-feature.jpg");

  /* Full height */
  height: 20%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*margin: -100px;*/
}
/* You can add global styles to this file, and also import other style files */


.hero-image {

  /*background-image: url('https://www.restauracekaterina.cz/soubory/f22696b26712f4540ee242f11b90fbddfa892141.jpg');*/
  background-image: url("assets/pictures/otherCover.jpg");
  background-color: #cccccc;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

input.ng-invalid.ng-touched {
  border: solid red 1px;
}


