<div class="row">

  <div class="col-sm-1" style="color: burlywood">
    <p>{{drink.portion}}</p>
  </div>
  <div class="col-sm-10">
    <p>
      <span style="font-weight: bold">{{drink.name | uppercase}}</span>
    </p>
  </div>
  <div class="col-sm-1">
    <p>{{drink.price}} kč</p>
  </div>
</div>
<hr>
