<div class="col-sm-4" style="display: inline-block;">
  <div class="">
    <img
      src="{{dailyMeal.image}}"
      alt="Jane" style="width:100%">
    <div class="container">
      <h4>{{dailyMeal.name}}</h4>
      <p class="title">{{dailyMeal.portion}}</p>
      <p>{{dailyMeal.description}}</p>
      <p>{{dailyMeal.allergens}}</p>
      <p>
        <button class="button">{{dailyMeal.price}} Kč</button>
      </p>
    </div>
  </div>
</div>

<!--src="https://www.apetitonline.cz/sites/default/files/styles/630x420/public/recept/tunakove_spagety_alla_puttanesca.jpg?itok=RqQCGPEd"-->
