

<div class="container" style="margin-top: 30px">
  <div class="row">
    <!-- orders -->
    <div class="col-md-12">
      <div class="row">
        <h1 style="margin-right: 30px">Přehled objednávek - počet jídel: {{sumOfMeal}} cena celkem: {{sumOfPrice}} Kč</h1>
      </div>
      <hr>
      <div *ngFor="let o of orders">
        <div class="row">
          <div class="col-sm-3">
            <span style="font-weight: bold">{{o.customerName| uppercase}}</span>
          </div>
          <div class="col-sm-3">
            <p >{{o.meal.name}} </p>
          </div>
          <div class="col-sm-3">
            <p>{{o.meal.price}} kč</p>
          </div>
          <div class="col-sm-3">
            <button (click)="onSuccess()" class="btn btn-dark fa fa-check-square-o"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






