

<div class="container" style="margin-top: 30px">
  <div class="row">
    <!-- rezervace -->
    <div class="col-md-6">
      <div class="row">
        <h1 style="margin-right: 30px">Rezervace</h1>
      </div>
      <hr>
      <div *ngFor="let r of reservations">
        <a  class="list-group-item clearfix itemCover" style="cursor: pointer">
          <div class="pull-left">
            <h5 class="list-group-item-heading">{{ r.onName }} - stůl {{r.table}}</h5>
            <p class="list-group-item-text">počet osob: {{r.countPeople}} e-mail: {{r.email}}</p>
            <p class="list-group-item-text">datum: {{r.dateInt | TranslateDateIntToDatePipe}} čas: {{r.startTime | TranslateTimeIntToTimePipe }} - {{r.finishTime | TranslateTimeIntToTimePipe}}</p>
          </div>
<!--          <span  *ngFor="let meal of menu.meals" class="pull-right">-->
<!--        <img-->
<!--          [src]="meal.image"-->
<!--          alt="{{ meal.name }}"-->
<!--          class="img-responsive"-->
<!--          style="max-height: 50px;">-->
<!--      </span>-->
        </a>
      </div>

    </div>

    <!-- create rezervace-->
<!--    <div class="col-md-6">-->
<!--      <div class="row">-->
<!--        <h1 style="margin-right: 30px">Přehled rezervací</h1>-->
<!--        &lt;!&ndash;        <div *ngIf="notificationDispley"  class="alert alert-success" role="alert">&ndash;&gt;-->
<!--        &lt;!&ndash;          {{reservationResult}}&ndash;&gt;-->
<!--        &lt;!&ndash;        </div>&ndash;&gt;-->
<!--      </div>-->
<!--      <hr>-->
<!--      <form (ngSubmit)="onSubmit()" #f="ngForm">-->

<!--        <div class="input-group mb-3">-->
<!--          <div class="input-group-prepend">-->
<!--            <span class="input-group-text fa fa-calendar"></span>-->
<!--          </div>-->
<!--          <input  min="{{today}}" type="date" class="form-control" placeholder="Datum" name="date" ngModel="{{today}}" required>-->
<!--        </div>-->
<!--        <div *ngFor="let tmpMeal of tmpMeals">-->
<!--          <p class="itemCover" (click)="removeMeal(tmpMeal)" style="font-weight:bold">{{tmpMeal.name}}</p>-->
<!--        </div>-->


<!--        <button [disabled]="!f.valid" type="submit" class="btn btn-outline-dark">Potvrdit</button>-->
<!--        <button type="button" style="margin-left: 10px" (click)="Clear()" class="btn btn-outline-dark">Vymazat</button>-->

<!--      </form>-->
<!--    </div>-->






  </div>
</div>






