<div class="row">

  <div class="col-sm-1" style="color: burlywood">
    <p>{{meal.portion}}</p>
  </div>
  <div class="col-sm-10">
    <p>
      <span style="font-weight: bold">{{meal.name | uppercase}}</span>
      {{meal.description}} {{meal.allergens}}
    </p>
  </div>
  <div class="col-sm-1">
    <p>{{meal.price}} kč</p>
  </div>
</div>
<hr>
