
<div *ngIf="isLoading" style="text-align: center">
  <app-loading-spinner></app-loading-spinner>
</div>

<form *ngIf="!isLoading" (ngSubmit)="onSubmit()" #f="ngForm">
  <div class="form-group ">
    <div>
      <label for="email">Email</label>
      <input type="email" class="form-control" name="email" id="email" ngModel required email #email="ngModel">
      <div *ngIf="email.touched && !email.valid" class="invalid-feedback d-block">Zadejte validní e-mail</div>
      <div *ngIf="displayWrongEmail" class="invalid-feedback d-block">Zadali jste špatný e-mail</div>
    </div>
    <div>
      <label for="pass">Heslo</label>
      <input type="password" class="form-control" id="pass" name="password" ngModel required #password="ngModel">
      <div *ngIf="password.touched && !password.valid" class="invalid-feedback d-block">Zadejte heslo</div>
      <div *ngIf="displayWrongPass" class="invalid-feedback d-block">Zadali jste špatné heslo</div>
    </div>
  </div>
  <button [disabled]="!f.valid" type="submit" class="btn btn-success">Potvrdit</button>
</form>
