body {margin:0;}

.icon-bar {
  width: 100%;
  background-color: white;
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 25%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: rgba(0, 0, 0, 0.85);
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #000;
  color: white;
  /*border-bottom: #da0000 solid 5px;*/
}

.active  {
  background-color: #eeeeee;
  /*border-bottom: #da0000 solid 5px;*/


}


/*-------------*/


