
<div class="icon-bar">
  <a routerLink="/home" routerLinkActive="active"><i class="fa fa-cutlery"></i></a>
  <a routerLink="/reservation" routerLinkActive="active"><i class="fa fa-calendar"></i></a>
<!--  <a routerLink="/gallery" routerLinkActive="active"><i class="fa fa-camera"></i></a>-->

  <a routerLink="/newsletter" routerLinkActive="active"><i class="fa fa-newspaper-o"></i></a>
<!--  <a routerLink="/orders"><i class="fa fa-shopping-cart"></i></a>-->
<!--  <a routerLink="/manager"><i class="fa fa-database"></i></a>-->

<!--odhlaseni  fa-sign-out-->
    <a routerLink="/auth" routerLinkActive="active"><i class="fa fa-user-circle-o"></i></a>

</div>


