<div class="hero-image">
</div>


<div class="container" style="margin-top: 30px">
  <div class="row">

    <!-- reservation -->
    <div class="col-md-6">
      <div class="row">
        <h1 style="margin-right: 30px">Rezervace</h1>
        <div *ngIf="notificationDispley"  class="alert alert-success" role="alert">
          {{reservationResult}}
        </div>
      </div>
      <hr>
      <form (ngSubmit)="onSubmit()" #f="ngForm">


        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text fa fa-user-o"></span>
          </div>
          <input type="text" class="form-control" placeholder="Jméno" name="name" ngModel required #name="ngModel" >
          <div *ngIf="name.touched && !name.valid" class="invalid-feedback d-block">Zadejte jméno na koho bude rezervace</div>
        </div>


        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text fa fa-calendar"></span>
          </div>
          <input  min="{{today}}" type="date" class="form-control" placeholder="Datum" name="date" ngModel="{{today}}" required>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text fa fa-clock-o"></span>
          </div>
          <select type="text" class="form-control" name="startTime" ngModel required #startTime="ngModel" >
            <option value="" selected disabled>V kolik hodin</option>
            <option value="1500">15:00</option>
            <option value="1550">15:30</option>
            <option value="1600">16:00</option>
            <option value="1650">16:30</option>
            <option value="1700">17:00</option>
            <option value="1750">17:30</option>
            <option value="1800">18:00</option>
            <option value="1850">18:30</option>
            <option value="1900">19:00</option>
            <option value="1950">19:30</option>
            <option value="2000">20:00</option>
          </select>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text fa fa-beer"></span>
          </div>
          <select type="text" class="form-control" name="spentTime" ngModel required #spentTime="ngModel">
            <option value="" selected disabled>Jak dlouho se u nás planujete zdržet</option>
            <option value="50">0,5 hodiny</option>
            <option value="100">1 hodinu</option>
            <option value="150">1,5 hodiny</option>
            <option value="200">2 hodiny</option>
            <option value="250">2,5 hodiny</option>
            <option value="300">3 hodiny</option>
            <option value="350">3,5 hodiny</option>
            <option value="400">4 hodiny</option>
            <option value="450">4,5 hodiny</option>
            <option value="500">5 hodin</option>
          </select>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text fa fa-users"></span>
          </div>
          <input type="text" class="form-control" placeholder="Počet osob" name="countPeople" ngModel required min="1" max="20" #countPeople="ngModel" >
          <div *ngIf="countPeople.touched && !countPeople.valid" class="invalid-feedback d-block">Zadejte počet osob</div>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text fa fa-envelope-o"></span>
          </div>
          <input type="email" class="form-control" placeholder="E-mail" name="email" ngModel required email #email="ngModel">
          <small *ngIf="email.touched && !email.valid" class="form-text text-muted">Zadejte email ve správném tvaru</small>
        </div>
        <button [disabled]="!f.valid" type="submit" class="btn btn-outline-dark">Potvrdit</button>

      </form>
    </div>

    <!-- contact -->
    <div class="col-md-6">
      <div class="row">
        <h1 style="margin-right: 30px">Kontakt</h1>
      </div>
      <hr>


      <div>
        <div class="row">
          <div class="col-md-4">
            <p class="boldClass">Otevírací doba:</p>
          </div>
          <div class="col-md-8">
            <p>Po - Pá: 11:00 - 23:00 So - Ne: 12:00 - 23:00</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p class="boldClass">Telefon:</p>
          </div>
          <div class="col-md-8">
            <p>+420 604 116 180</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p class="boldClass">E-mail:</p>
          </div>
          <div class="col-md-8">
            <p>info@nafarmě.cz</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p class="boldClass">Adresa:</p>
          </div>
          <div class="col-md-8">
            <p>Madridská 12 Praha 10 - Vršovice</p>
          </div>
        </div>
      </div>

      <div>
       <a href="https://mapy.cz/zakladni?x=16.0757130&y=50.1480866&z=17&source=addr&id=10017848" target="_blank"> <img src="./assets/pictures/mapaHospody.jpg" alt="adresa" class="img-responsive" style="max-height: 220px;"></a>
      </div>

    </div>
  </div>
</div>




