<div class="hero-image">
  <div class="hero-text" style="border: white solid 5px; background-color: rgba(0,0,0,0.51)">
    <h1 style="font-size:50px">Restaurace Na Farmě</h1>
    <h3>Madridská 12, Praha 10-Vršovice</h3>


  </div>

<!--  <div class="hero-button">-->
<!--    <button style="margin-right: 10px" class="btn btn-success">Rezervace</button>-->
<!--    <button class="btn btn-info">Kontakt</button>-->
<!--  </div>-->

</div>

<div class="container" style="margin-top: 50px">
  <h1 style="text-align: center">Denní menu</h1>
  <hr>

  <div class="row">
    <div class="col-sm-12">
      <app-daily-menu *ngFor="let meal of dailyMeals" [dailyMeal]="meal"></app-daily-menu>
    </div>
  </div>
</div>


<div class="container" style="margin-top: 50px">

  <h1 style="text-align: center">Stálá nabídka</h1>
  <hr>
  <div class="row" >
    <div class="col-sm-12 text-center">
      <button [class.active]="mealMenu" class="button-fancy btn" (click)="onChangeMealMenu()"><h4>Jídelní lístek</h4></button> <button (click)="onChangeDrinkMenu()" [class.active]="!mealMenu" class="btn button-fancy"><h4>Nápojový lístek</h4></button>
    </div>
  </div>
  <hr>



  <div *ngIf="mealMenu">
    <app-standart-menu-item *ngFor="let meal of standartMeals" [meal]="meal"></app-standart-menu-item>
  </div>
  <div *ngIf="!mealMenu">
    <app-drink-menu-item *ngFor="let drink of drinks" [drink]="drink"></app-drink-menu-item>
  </div>

</div>
