.hero-image {
  background-image: url("../../assets/pictures/coverHome.jpg");
  /*background-image: url('https://www.restauracekaterina.cz/soubory/f22696b26712f4540ee242f11b90fbddfa892141.jpg');*/
  /*background-image: url('https://blog.gutek.pl/wp-content/uploads/2017/07/slowko-na-dzis-pub-crawl-feature.jpg');*/
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/*.hero-button {*/
/*  position: absolute;*/
/*  top: 90%;*/
/*  left: 50%;*/
/*  transform: translate(-50%, -50%);*/
/*  color: white;*/
/*  opacity: 90%;*/
/*}*/

  /*----------------------------*/

/*html {*/
/*  box-sizing: border-box;*/
/*}*/

/**, *:before, *:after {*/
/*  box-sizing: inherit;*/
/*}*/

/*.column {*/
/*  float: left;*/
/*  width: 33.3%;*/
/*  margin-bottom: 16px;*/
/*  padding: 0 8px;*/
/*}*/

/*@media screen and (max-width: 650px) {*/
/*  .column {*/
/*    width: 100%;*/
/*    display: block;*/
/*  }*/
/*}*/

/*.card {*/
/*  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
/*}*/

/*.container {*/
/*  padding: 0 16px;*/
/*}*/

/*.container::after, .row::after {*/
/*  content: "";*/
/*  clear: both;*/
/*  display: table;*/
/*}*/

/*.title {*/
/*  color: grey;*/
/*}*/

/*.button {*/
/*  border: none;*/
/*  outline: 0;*/
/*  display: inline-block;*/
/*  padding: 8px;*/
/*  color: white;*/
/*  background-color: #000;*/
/*  text-align: center;*/
/*  cursor: pointer;*/
/*  width: 100%;*/
/*}*/

/*.button:hover {*/
/*  background-color: #555;*/
/*}*/


/*----------------------------*/

.button-fancy {
  border: transparent solid 2px;
}

.button-fancy:hover {
  border: black solid 2px;
}

.active {
  border: black solid 2px;
}

