<div *ngIf="notificationDispley" [ngClass]="{'alert-danger': httpStatus === 400}" class="alert alert-success" role="alert">
  {{message}}
</div>

<div *ngIf="isLoading" style="text-align: center">
  <app-loading-spinner></app-loading-spinner>
</div>

<form (ngSubmit)="onSubmit()" #f="ngForm" *ngIf="!isLoading">
  <div class="form-group ">
    <div>
      <label for="firstName">Křestní jméno</label>
      <input type="text" class="form-control" name="firstName" id="firstName" ngModel required #firstName="ngModel">
      <div *ngIf="firstName.touched && !firstName.valid" class="invalid-feedback d-block">Zadejte křestní jméno</div>
    </div>
    <div>
      <label for="lastName">Přímení</label>
      <input type="text" class="form-control" name="lastName" id="lastName" ngModel required #lastName="ngModel">
      <div *ngIf="lastName.touched && !lastName.valid" class="invalid-feedback d-block">Zadejte přímení</div>
    </div>
    <div>
      <label for="email">Email</label>
      <input type="email" class="form-control" name="email" id="email" ngModel required email #email="ngModel">
      <div *ngIf="email.touched && !email.valid" class="invalid-feedback d-block">Zadejte validní email</div>
    </div>
    <div>
      <label for="pass">Heslo</label>
      <input type="password" class="form-control" id="pass" name="password" ngModel required #password="ngModel">
      <div *ngIf="password.touched && !password.valid" class="invalid-feedback d-block">Zadejte heslo</div>
    </div>
<!--    <div>-->
<!--      <label for="pass2">Znovu zadejte heslo</label>-->
<!--      <input type="password" class="form-control" id="pass2" name="password2" ngModel required #password2="ngModel">-->
<!--      <div *ngIf="password2.touched && !password2.valid || password2.touched && !password2.valid && password != password2" class="invalid-feedback d-block">Zadejte stejné heslo</div>-->
<!--    </div>-->

    <div class="custom-control custom-switch" style="margin-top: 15px">
      <input type="checkbox" class="custom-control-input" id="customSwitch1" name="customSwitch1" ngModel #specialOffer="ngModel">
      <label class="custom-control-label" for="customSwitch1">Chci dostávat speciální nabídky</label>
    </div>

  </div>
  <button [disabled]="!f.valid" type="submit" class="btn btn-success">Potvrdit</button>
</form>
