<div class="row">
<h1 style="text-align: left">Vaše Objednávky na {{getDate()}}</h1>

<div *ngIf="notificationDisplay" class="alert alert-success" role="alert" >
  {{notificationText}}
</div>
</div>
<div class="table">
  <thead class="thead-light">
  <tr>
    <th>Porce</th>
    <th>Název jídla</th>
    <th>allergeny</th>
    <th>cena</th>
    <th></th>
  </tr>
  </thead>
  <tbody *ngFor="let m of orderedMeals; let i = index">
    <tr>
      <td>{{m.portion}}</td>
      <td><span style="font-weight: bold">{{m.name}}</span> {{m.description}}</td>
      <td>{{m.allergens}}</td>
      <td>{{m.price}}</td>
      <td><button (click)="deleteMeal(i)" class="btn btn-danger">Odebrat</button> </td>
    </tr>

  </tbody>



</div>
<div class="custom-control custom-switch" style="margin-top: 15px; margin-bottom: 15px">
  <input type="checkbox" class="custom-control-input" id="customSwitch2" name="customSwitch2" [(ngModel)]="takeaway">
  <label class="custom-control-label" for="customSwitch2">Jídlo sebou</label>
</div>

<button (click)="onUpdateOrder()"  class="btn btn-success">Povrdit</button>
<button (click)="onLogOut()" style="margin-left: 10px" class="btn btn-primary">Odhlásit se</button>


<div class="container" style="margin-top: 50px">
  <h1 style="text-align: left">Denní Menu zítra</h1>
  <hr>

  <div class="row">
    <div class="col-sm-12">
      <app-order-daily-menu (mealAddedEvent)="onAddMealToOrder($event)" *ngFor="let meal of dailyMeals" [dailyMeal]="meal"></app-order-daily-menu>
    </div>
  </div>
</div>
