<div class="hero-image">
</div>

<div class="container" style="margin-top: 30px">
  <div class="row">

    <div class="col-md-6">
      <div class="row">
      <h1 style="margin-right: 30px">Newsletter</h1>
      <div *ngIf="notificationDisplay" class="alert alert-success" role="alert">
        {{notificationText}}
      </div>
      </div>
      <hr>
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="form-group ">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" id="email" ngModel required email #email="ngModel">
          <small *ngIf="email.touched && !email.valid" class="form-text text-muted">Zadejte email ve správném tvaru</small>

        </div>
        <button [disabled]="!f.valid" type="submit" class="btn btn-outline-dark">Potvrdit</button>
      </form>
    </div>

    <div class="col-md-6">
      <h1 style="margin-right: 30px">Novinky</h1>
      <hr>
    </div>


  </div>
</div>

<div class="container" style="margin-top: 30px">
  <div class="row">
    <div class="col-md-12">
      <h1>O Restauraci</h1>
      <hr>
    </div>
  </div>
</div>
