

<div class="container" style="margin-top: 30px">
  <div class="row">

    <!-- Create Menu -->
    <div class="col-md-6">
      <div class="row">
        <h1 style="margin-right: 30px">Denní menu</h1>
<!--        <div *ngIf="notificationDispley"  class="alert alert-success" role="alert">-->
<!--          {{reservationResult}}-->
<!--        </div>-->
      </div>
      <hr>
      <form (ngSubmit)="onSubmit()" #f="ngForm">

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text fa fa-calendar"></span>
          </div>
          <input  min="{{today}}" type="date" class="form-control" placeholder="Datum" name="date" ngModel="{{today}}" required>
        </div>
        <div *ngFor="let tmpMeal of tmpMeals">
          <p class="itemCover" (click)="removeMeal(tmpMeal)" style="font-weight:bold">{{tmpMeal.name}}</p>
        </div>


        <button [disabled]="!f.valid" type="submit" class="btn btn-outline-dark">Potvrdit</button>
        <button type="button" style="margin-left: 10px" (click)="Clear()" class="btn btn-outline-dark">Vymazat</button>

      </form>
    </div>

    <!-- contact -->
    <div class="col-md-6">
      <div class="row">
        <h1 style="margin-right: 30px">Plán</h1>
      </div>
      <hr>
      <div *ngFor="let menu of dailyMenus">
        <a (click)="showMenu(menu)" class="list-group-item clearfix itemCover" style="cursor: pointer">
          <div class="pull-left">
            <h5 class="list-group-item-heading">{{ menu.date | date:"dd/MM/yyyy"}}</h5>
            <p class="list-group-item-text">{{menu.date | date:"EEEE" | translateDay}}</p>
          </div>
          <span  *ngFor="let meal of menu.meals" class="pull-right">
        <img
          [src]="meal.image"
          alt="{{ meal.name }}"
          class="img-responsive"
          style="max-height: 50px;">
      </span>
        </a>
      </div>

    </div>




  </div>
</div>

<div class="container" style="margin-top: 30px">
  <h1 style="text-align: center">Položky pro denní menu</h1>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <div *ngFor="let meal of meals">
        <div class="itemCover" >
          <app-standart-menu-item (click)="AddMeal(meal)" [meal]="meal"></app-standart-menu-item>
        </div>
      </div>
    </div>


  </div>
</div>




